@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Selamat Datang</h1>
    <p>Klik Link Brikut Untuk Melihat<a href="/anggota/Index"> Daftar Anggota</a></p>
</div>